* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  font-family: "Questrial", sans-serif; }

/*=================HEADER SECTION==================*/
.logo-split {
  border: 1px solid #8D735F;
  margin-top: 2px;
  margin-bottom: 0; }

.cafe {
  display: block;
  text-align: center;
  color: #e5ad22;
  letter-spacing: 4px; }

.header-background {
  background: url("../img/main-back.jpg");
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  height: 100vh;
  background-attachment: fixed; }
  .header-background .navbar-brand {
    font-size: 1.5rem;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .header-background .nav-item {
    color: #fff;
    font-size: 1.3rem; }
  .header-background .header-title {
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 180px; }
  .header-background .explore-btn {
    background: #8D735F;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px 35px; }

/*================THREE SECTION==============*/
.three-section .section-img {
  position: relative; }
  .three-section .section-img .three-img {
    min-height: auto; }
  .three-section .section-img .section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e5ad22;
    letter-spacing: 2px;
    font-size: 28px;
    text-transform: uppercase; }

/*================NEWSLETTER SECTION==============*/
.newsletter {
  margin-top: 50px;
  background-color: #E8E8E8;
  padding-bottom: 75px; }
  .newsletter .news-title {
    text-transform: uppercase;
    margin-top: 50px; }
  .newsletter .news-description {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 5px; }
  .newsletter .form-group {
    display: inline-block;
    width: 40%;
    margin: 0 auto; }
    .newsletter .form-group input {
      outline: 0;
      border-width: 0 0 2px 0;
      border-color: black;
      background-color: #E8E8E8;
      padding: 10px;
      border-radius: 0; }
  .newsletter .subscribe-btn {
    display: inline-block;
    background-color: #e5ad22;
    text-transform: uppercase;
    padding: 10px 32px;
    margin-left: 25px;
    border-radius: none;
    border: none; }

/*================MENU SECTION==============*/
.menu {
  background-color: #272c34;
  color: #F4F4F4; }
  .menu h1 {
    padding-top: 30px;
    text-transform: uppercase;
    font-family: "Signika", sans-serif; }
  .menu .menu-desc {
    width: 65%;
    margin: 0 auto; }
  .menu .menu-header {
    color: #e5ad22;
    font-family: "Signika", sans-serif;
    display: inline-block; }
  .menu .menu-item, .menu .menu-line, .menu .menu-price {
    display: inline-block; }
  .menu .menu-item h3 {
    font-size: 18px;
    margin-left: 10px;
    text-transform: uppercase; }
  .menu .menu-line {
    border-bottom: 1px solid rgba(141, 115, 95, 0.5);
    height: 3px;
    width: 30%;
    margin-left: 5px;
    margin-right: 5px; }
  .menu .menu-price {
    font-size: 20px;
    font-weight: 100;
    color: #8D735F; }
  .menu .menu-item-desc {
    font-family: sans-serif;
    font-size: 14px;
    width: 400px;
    font-weight: 100;
    display: inline-block; }

/*================TESTIMONIALS SECTION==============*/
.testimonials {
  background: url("../img/testimonial.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
  padding-bottom: 80px; }
  .testimonials .test-title {
    color: #fff; }
  .testimonials .test-desc {
    background-color: #fff;
    margin-top: 80px;
    max-width: 100%;
    min-height: 300px;
    position: relative;
    border-radius: 5px; }
    .testimonials .test-desc .test-quote {
      position: absolute;
      min-width: 75%;
      left: 10%;
      top: 60px; }
    .testimonials .test-desc .testimonial-pic {
      position: absolute;
      top: 160px;
      left: 50px; }
    .testimonials .test-desc h4 {
      position: absolute;
      left: 150px;
      top: 200px;
      font-size: 20px; }

footer {
  background-color: #2A2A2A;
  color: #fff; }
  footer h1 {
    margin-top: 40px; }
  footer .footer-contact {
    font-size: 20px;
    margin-top: 40px; }
  footer p {
    font-size: 14px;
    color: #656565; }
  footer i {
    padding: 5px; }
  footer .fa-facebook-square {
    color: #3B5998; }
  footer .fa-instagram {
    color: #e4405f; }
  footer .fa-twitter-square {
    color: #55acee; }

.sponsors {
  background: #E4E4E4; }
  .sponsors .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
    .sponsors .helper img {
      vertical-align: middle; }

.contact-form {
  background: #272c34;
  color: #fff;
  padding: 100px 0; }
  .contact-form .city {
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 100; }
  .contact-form .email, .contact-form .phone {
    color: #8D735F;
    margin-right: 10px; }
  .contact-form input, .contact-form textarea {
    width: 100%;
    margin-bottom: 40px;
    background: none;
    border: 1px solid #808285;
    height: 40px;
    padding-left: 15px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100; }
  .contact-form input:focus, .contact-form textarea:focus {
    outline: 1px solid #8D735F; }
  .contact-form .send-btn {
    padding: 15px 40px;
    background: #8D735F;
    border: none;
    color: #fff;
    font-size: 18px; }
  .contact-form .send-btn:hover {
    background: #5E5148;
    transition-duration: 0.3s; }
  .contact-form textarea {
    height: 200px; }

@media (max-width: 768px) {
  .sponsors {
    display: none; } }
